html,
body {
	color: var(--colorText);
	background-color: var(--bgColor)
}

* {
	outline: 0 !important
}

body[data-theme=dark] {
	--bgColor: #242b38;
	--bgColor2: #2a3342;
	--bgColor3: #3666ec;
	--bgColorActive: #003bdd;
	--bgColorScroll: #2a3342;
	--colorText: white
}

body[data-theme=light] {
	--bgColor: #f3f3f3;
	--bgColor2: white;
	--bgColor3: #009688;
	--bgColorActive: #007267;
	--bgColorScroll: #ededed;
	--colorText: black
}

#preloader {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	position: absolute
}

.d-block {
	display: block
}

.c-pt {
	cursor: pointer
}

.us-none {
	-webkit-user-select: none
}

.card-action {
	background-color: var(--bgColor) !important
}

.btn,
.btn:focus,
nav {
	background-color: var(--bgColor3)
}

.btn:hover,
.bgColorActive {
	background-color: var(--bgColorActive)
}

a.btn:hover {
	background-color: var(--bgColorActive) !important
}

.card-panel,
.card-stacked,
.sidenav {
	background-color: var(--bgColor2)
}

.btn-flat,
.card-action a,
p a {
	font-weight: 600;
	color: var(--bgColor3) !important
}

@media (max-width: 1023px) {
	* {
		cursor: default !important
	}
}

@media (min-width: 1024px) {
	::-webkit-scrollbar {
		height: 6px;
		width: 6px
	}

	::-webkit-scrollbar-thumb {
		background-color: var(--bgColor3)
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: var(--bgColorActive)
	}

	::-webkit-scrollbar-track {
		background-color: var(--bgColorScroll)
	}
}
