html, body {
  color: var(--corTexto);
  background-color: var(--corFundo)
}

#preloader {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute
}

.d-block { display: block }
.c-pt { cursor: pointer }
.us-none { -webkit-user-select: none }

.card-action { background-color: var(--corFundo) !important }
.btn, .btn:focus, nav { background-color: var(--corFundo3) }
.btn:hover, .corFundoActive { background-color: var(--corFundoActive) }
a.btn:hover { background-color: var(--corFundoActive) !important }
.card-panel, .card-stacked, .sidenav { background-color: var(--corFundo2) }

@media (min-width: 1024px) {
  ::-webkit-scrollbar {
    height: 6px;
    width: 4px
  }

  ::-webkit-scrollbar-thumb { background-color: var(--corScroll) }

  ::-webkit-scrollbar-thumb:hover { background-color: var(--corScrollHover) }
  ::-webkit-scrollbar-track { background-color: var(--corFundoScroll) }
}