html,
body {
	min-width: 320px;
	overflow-x: hidden;
	color: var(--colortext);
	background-color: var(--bgcolor)
}

* {
	outline: 0 !important;
	user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	-webkit-user-select: none !important
}

body[data-theme=light] {
	--bgcolor: #e9e9e9;
	--bgcolor2: white;
	--bgcolorscroll: #ededed;
	--colorswitcher: #9e9e9e;
	--colorswitcherball: #f1f1f1;
	--colortext: black;
	--colorradiodisabled: #a0a0a0;
	--colorradiocheckeddisabled: #5a5a5a;
	--colorcurrentquestion: #008174
}

body[data-theme=dark] {
	--bgcolor: #181f29;
	--bgcolor2: #2d3541;
	--bgcolorscroll: #212731;
	--colorswitcher: #00796b;
	--colorswitcherball: #00524b;
	--colortext: white;
	--colorradiodisabled: #5a5a5a;
	--colorradiocheckeddisabled: #a0a0a0;
	--colorcurrentquestion: #2d3541
}

.bgcolor3 {
	background-color: var(--colorcurrentquestion) !important
}

.red {
	background-color: #f02727 !important
}

.bgcolor,
.modal-footer {
	background-color: var(--bgcolor) !important
}

.btn,
a.btn-floating:focus,
.btn:focus,
.btn-floating,
nav,
.tap-target {
	background-color: #00897b
}

a {
	transition: 0 !important
}

.background-2,
.card-panel,
.sidenav,
.modal,
.modal-content {
	background-color: var(--bgcolor2) !important
}

.lever {
	background-color: var(--colorswitcher) !important
}

.lever:after {
	background-color: var(--colorswitcherball) !important
}

.input-field input[type=text]:focus+label {
	color: #00897b !important
}

.input-field input[type=text]:focus {
	border-bottom: 1px solid #00897b !important;
	box-shadow: 0 1px 0 0 #00897b !important
}

.text,
.name,
.email,
[type=radio]+span,
.input-field input[type=text] {
	color: var(--colortext) !important
}

[type=radio]:disabled+span {
	color: var(--colorradiodisabled)
}

[type=radio]:checked:disabled+span {
	color: var(--colorradiocheckeddisabled) !important
}

[type=radio]:checked+span:after,
[type=radio].with-gap:checked+span:before,
[type=radio].with-gap:checked+span:after {
	border: 2px solid #00897b
}

[type=radio]:checked+span:after,
[type=radio].with-gap:checked+span:after {
	background-color: #00897b
}

.user-view,
.tap-target-wave:before {
	background-color: var(--bgcolor)
}

.tap-target-content h5 {
	color: white;
	position: relative;
	left: 50px
}

.tap-target-content p {
	color: white;
	position: relative;
	left: 15px
}

.bgcoloractive {
	background-color: #00524b
}

#btnStart {
	left: 50%;
	transform: translateX(-50%)
}

#save {
	margin-left: 5px
}

#save:disabled {
	background-color: #82C785 !important;
	color: white !important
}

i[data-disabled] {
	color: #f36b73 !important
}

#pagination {
	-webkit-user-select: none;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden
}

#time {
	position: absolute;
	right: 5px;
	top: 0
}

#preloader {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	position: absolute
}

#quiz {
	position: relative
}

#star {
	top: 2px
}

.material-icons {
	-webkit-user-select: none;
	position: relative
}

.tabs {
	background-color: var(--bgcolor)
}

#tabs::-webkit-scrollbar {
	height: 10px
}

#tabs::-webkit-scrollbar-thumb {
	border-radius: 1.5px;
	background-color: #00897b
}

#tabs::-webkit-scrollbar-track {
	background-color: var(--bgcolorscroll)
}

.tabs .tab a.active {
	color: var(--colortext) !important
}

.tabs .tab a {
	color: #00897b
}

.tabs .tab a:hover {
	color: var(--colortext)
}

.tabs .tab a:focus {
	background-color: transparent
}

.tabs .tab a:focus.active {
	background-color: transparent
}

.active {
	transition: 0 !important
}

.tabs .indicator {
	background-color: #00897b
}

.c-df {
	cursor: default
}

.c-pt {
	cursor: pointer
}

.no-border {
	border-radius: 0 !important
}

.brw {
	border-right: 1px solid white
}

.d-block {
	display: block
}

.spinner-layer {
	border-color: #00524b
}

.fixed-action-btn {
	display: none;
}

.btn:hover,
.btn-floating:hover {
	background-color: #00524b
}

a.btn:hover {
	background-color: #00524b !important
}

@media (max-width: 447px) {
	#save {
		float: right
	}

	#showAnswers {
		float: unset !important;
		margin: 10px 0 0 10px !important;
		display: block
	}
}

@media (max-width: 767px) {
	#modal4 .modal-content {
		padding: 0 !important
	}

	.modal-95 {
		width: 95%
	}

	.modal-100,
	.container {
		width: 100%
	}

	#rank,
	#giveUp,
	#finish {
		margin-left: 10px !important
	}

	#start,
	#next,
	#save,
	#showAnswers {
		margin-right: 10px
	}
}

@media (max-width: 1023px) {
	* {
		cursor: default !important
	}
}

@media (min-width: 1024px) {
	.fixed-action-btn {
		display: block
	}

	#tabs::-webkit-scrollbar-thumb:hover {
		background-color: #00524b
	}

	.red:hover {
		background-color: #dd0000 !important
	}

	.green:hover {
		background-color: green !important
	}

	::-webkit-scrollbar {
		height: 8px;
		width: 6px
	}

	::-webkit-scrollbar-thumb {
		border-radius: 1.5px;
		background-color: #00897b
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: #00524b
	}

	::-webkit-scrollbar-track {
		background-color: var(--bgcolorscroll)
	}
}
