html, body {
  min-width: 320px;
  overflow-x: hidden;
  color: var(--colorText);
  background-color: var(--bgColor)
}

html, body, .card-panel, .modal, .modal-content, .modal-footer, nav, .lever, .lever:after, .btn {
  transition: background-color .3s !important;
  -webkit-transition: background-color .3s !important
}

.modal, .card-panel { transition: color .3s !important }

.bgColor3 { background-color: var(--bgColor3) !important }

.modal-footer { background-color: var(--bgColor) !important }
.btn, a.btn-floating:focus, .btn:focus, .btn-floating, nav, .tap-target { background-color: var(--bgColor3) }
.btn:hover, .btn-floating:hover, .bgColorActive { background-color: var(--bgColorActive) }
a.btn:hover { background-color: var(--bgColorActive) !important }
.card-panel, .sidenav, .modal, .modal-content { background-color: var(--bgColor2) }
.lever { background-color: var(--colorSwitcher) !important }
.lever:after { background-color: var(--colorSwitcherBall) !important }
.input-field input[type=text]:focus + label { color: var(--bgColor3) !important }
.input-field input[type=text]:focus {
  border-bottom: 1px solid var(--bgColor3) !important;
  box-shadow: 0 1px 0 0 var(--bgColor3) !important
}
.input-field input[type=text], [type=radio]:checked + span { color: var(--colorText) !important }

[type=radio] + span { color: var(--colorRadio) }
[type=radio]:disabled + span { color: var(--colorRadioDisabled) }
[type=radio]:checked:disabled + span { color: var(--colorRadioCheckedDisabled) !important }

[type=radio]:checked + span:after,
[type=radio].with-gap:checked + span:before,
[type=radio].with-gap:checked + span:after { border: 2px solid var(--bgColor3) }

[type=radio]:checked + span:after,
[type=radio].with-gap:checked + span:after { background-color: var(--bgColor3) }

.tap-target-wave:before { background-color: var(--bgColor) }
.tap-target-content h5 {
  color: white;
  position: relative;
  left: 50px
}
.tap-target-content p {
  color: white;
  position: relative;
  left: 15px
}

#btnStart {
  left: 50%;
  transform: translateX(-50%)
}

#pagination {
  -webkit-user-select: none;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden
}

#time {
  position: absolute;
  right: 5px;
  top: 0
}

#preloader {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute
}

#quiz { position: relative }

#star { top: 2px }

.material-icons {
  -webkit-user-select: none;
  position: relative
}

.tabs { background-color: var(--bgColor) }
.tabs .tab a.active { color: var(--bgColorActive) !important }
.tabs .tab a {
  color: var(--bgColor3);
  -webkit-user-select: none
}
.tabs .tab a:focus { background-color: transparent }
.tabs .tab a:hover { color: var(--bgColorActive) }

.tabs .tab a:focus.active {
  color: var(--bgColor3);
  background-color: transparent
}

.tabs .indicator { background-color: var(--bgColor3) }

.c-df { cursor: default }
.c-pt { cursor: pointer }
.no-border { border-radius: 0 !important }
.brw { border-right: 1px solid white }
.d-block { display: block }
.us-none { -webkit-user-select: none }

@media (max-width: 767px) {
  .modal { width: 100% }
  .container { width: 100% }
  #next, #finish, #start { margin-left: 10px !important }
  #giveUp, #save, #showAnswers { margin-right: 10px }
}

@media (max-width: 447px) {
  #save { float: right }
  #showAnswers {
    float: unset !important;
    margin: 10px 0 0 10px !important;
    display: block
  }
}

@media (max-width: 1023px) { * { cursor: default !important } }

@media (min-width: 1024px) {
  ::-webkit-scrollbar {
    height: 6px;
    width: 6px
  }

  ::-webkit-scrollbar-thumb { background-color: var(--colorScroll) }

  ::-webkit-scrollbar-thumb:hover { background-color: var(--colorScrollHover) }
  ::-webkit-scrollbar-track { background-color: var(--bgColorScroll) }
}
