html, body { overflow-x: hidden }

#btnStart {
  left: 50%;
  transform: translateX(-50%)
}

.icons {
  margin-top:-6px;
  top:3.5px;
  margin-left:5px
}

.material-icons { position: relative }

.c-mp { cursor: pointer }